<mat-toolbar> <h1 class="hero">Angular lecture 1</h1> </mat-toolbar>
<app-user-toolbar
  (onNewestSort)="handleNewestSort()"
  [isDeleteButtonDisabled]="selectedItems.length === 0"
  (onSearch)="handleSearch($event)"
  (onAllSelected)="handleSelectAll($event)"
  (onAlphabeticalOrderSort)="handleAlphabeticalOrderSort()"
  (onDeleteClick)="handleDeleteClick()"
></app-user-toolbar>
<app-user-list
  (onChecked)="handleChecked($event)"
  [users]="filteredUsers"
  [selectedItems]="selectedItems"
></app-user-list>
